DYComunication/DYComWCFTextClient/DYComWCFTextClient/Service References/poxy/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DYComWCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DYComWCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mydata">
    <xs:sequence>
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mydata" nillable="true" type="tns:mydata" />
</xs:schema>