DYComunication/DYComWCFTextClient/DYComWCFTextClient/Service References/poxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITest_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4500/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4500/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4500/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DYComWCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITest_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="ITest_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="ITest_clientLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:clientLogin" />
  </wsdl:message>
  <wsdl:message name="ITest_onData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onData" />
  </wsdl:message>
  <wsdl:portType name="ITest">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITest/login" message="tns:ITest_login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITest/Echo" message="tns:ITest_Echo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientLogin">
      <wsdl:output wsaw:Action="http://tempuri.org/ITest/clientLogin" message="tns:ITest_clientLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onData">
      <wsdl:output wsaw:Action="http://tempuri.org/ITest/onData" message="tns:ITest_onData_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITest" type="tns:ITest">
    <wsp:PolicyReference URI="#NetTcpBinding_ITest_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/ITest/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/ITest/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="clientLogin">
      <soap12:operation soapAction="http://tempuri.org/ITest/clientLogin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onData">
      <soap12:operation soapAction="http://tempuri.org/ITest/onData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_ITest" binding="tns:NetTcpBinding_ITest">
      <soap12:address location="net.tcp://localhost:4504/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4504/Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>